<div class="ui items">
  <div class="item">
    <div class="image">
      <img src="/images/wireframe/image.png">
    </div>
    <div class="content">
      <a class="header"><%=blog.title%></a>
      
      <div class="meta">
        <span><%= blog.created.toDateString() %></span>
      </div>
      
      <div class="description">
        <p><%- blog.body.substring(0,100)%>...</p>
      </div>
      
      <div class="extra">
        <a class="ui basic blue button" href="/blogs/<%= blog._id%>">Read More</a>
      </div>
    </div>
  </div>